/* Generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

input, textarea, button {
    all: unset;
  }

img {
    max-width: 100%;
}

/* Elementos */

.button {
    display: block;
    margin: 0 2em;
    text-align: center;
}

 .wrapper--green {
    background-color: rgba(0, 175, 145, 0.1);
}

/* Section*/

.section {
    padding: 4rem 2rem;
}

.section__img {
    padding-bottom: 2em;
    max-width: 500px;
    display: block;
    margin: auto;
}

.section__h2, .section__h3 {
    padding-bottom: 1.5em;
    text-align: center;
}

.section__p {
    text-align: center;
}

.section--2colmobile {
    padding: 4em 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-start: 4;
}

/* Catalogo y Galeria */

.catalogo {
    margin-bottom: 4em;
}

.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

/* Formulario */

.form {
    width: 90%;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.displaynone {
    display: none;
}

.form__input, .form__textarea {
    width: 100%;
    border: 1px #dee2e6 solid;
    padding: .75em;
    box-sizing: border-box;
    border-radius: 5px;
}

.form__button {
    border: ;
}

/* Media Queries */

/* Tablet 768px */

@media screen and (min-width: 768px){
    .section {
        max-width: 80%;
        margin:  0 auto;
    }

    .section__p, .section__h2, .section__h3 {
        width: 80%;
        margin: auto;
    }
}

/* Tablet 1200px */


@media screen and (min-width: 1200px){

    .section {
        max-width: 1200px;
    }

    .section__p, .section__h2, .section__h3 {
        width: 60%;
    }

    .section--2col {
        padding: 4em 0;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .section__h2--responsiveleft {
        text-align:left;
    }

    .section__p--responsiveleft {
        text-align:left;
    }
}
