/* Generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --green: rgb(0, 173, 145);
    --dark: #3f3f3f;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

input, textarea, button {
    all: unset;
}

img {
    max-width: 100%;
}


/* Elementos */

.button {
    display: block;
    margin: 1em auto;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid var(--green); 
    font-size: 120%;
    font-weight: 600;
    letter-spacing: 1px;
    width: 70%;
}

.button--primary{
    color: var(--green);
    border: 2px solid var(--green);
}

.button--secondary{
    background: var(--green);
    border: 2px solid var(--green);
    color: white;
}

.button--primary:hover{
    background-color: var(--green);
    color: #ffff;
}

.button--secondary:hover{
    background-color: rgba(0, 175, 145, 0.1);
    color: var(--green);
}

.wrapper--green {
    background-color: rgba(0, 175, 145, 0.1);
}

.form__data{
    display: flex;
    align-items: center;
    gap: 1em;
}


/* header */

.header{
    border-bottom: 1px solid var(--green);
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.header__element{
    margin: 1em;
    display: flex; 
    align-items: center;
    justify-content:space-evenly;
}

.header__link{
display: flex;
flex-direction: row;
align-items: center;
}

.header__title{
color: var(--dark);
font-weight: bold;
font-size: 15px;
}

.header__logo{
    display: none;
}

.header__icon{
    margin: 0px 15px 0px 0px;
}


/* nav */

.nav__list{
    flex-direction: column;
    justify-content: space-evenly;
}

.nav__list--hide{
    display: none;
}

.nav__list--show{
    display:flex;
}

.nav__item{
    margin: 0 1.5em;
    padding: 0.5em;
}

.nav__link{
    color:var(--dark);
}

.nav__link--active{
    color:var(--green);
}


/* Main */

.section {
    padding: 4rem 2rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

.section__img {
    padding-bottom: 2em;
    max-width: 500px;
    display: block;
    margin: auto;
}

.section__title, .section__subtitle {
    padding-bottom: 1.5em;
}

.section__title::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 30%;
    padding-top: 1em;
    border-bottom: 5px solid var(--green);
}

.section__subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1em 0;
}


/* Catalogo y Galeria */

.catalogo {
    margin-bottom: 4em;
}

.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}


/* Calificación */

.section__input{
    border-bottom: 2px solid var(--green);
    font-size: 90%;
    color: rgba(0, 0, 0, 0.7);
}

.section__result {
    font-size: 120%;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    margin: 1em;
}

.section__numresult {
    font-size: 120%;    
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 1em;
}


/* Formulario */

.form {
    width: 100%;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.form__input, .form__textarea {
    width: 100%;
    border: 1px #dee2e6 solid;
    padding: .75em;
    box-sizing: border-box;
    border-radius: 5px;
}

.form__button {
    padding: 1em;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}


 /*Footer*/

 .footer{
    background-color: #3f3f3f;
    color: white;
    font-weight: 200;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 3em;
}

.footer__listgroup {

    background-color: #3f3f3f;
    color: white;
    font-weight: 200;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction:column;
    gap: 1em;
   
}
   
.footer__year {
    color: var(--green);
    font-weight: 700;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
   }

.footer__item {
    background-color: #3f3f3f;
    color: white;
    font-weight: 200;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction:row;
}


/* Media Queries */

/* Tablet 768px */

@media screen and (min-width: 768px){

    /* Cambios generales */
    .button{
        max-width: 50%;
    }


    /* Cambios header */
    .header{
        justify-content: center;
        border-bottom: none;
    }

    .header__logo{
        display: block;
        margin: 1.5em;
    }

    .header__element{
        display: none;
    }

    /* Cambios nav */
    .nav{
        border-bottom: 1px solid var(--green);
        padding: 15px 0px;
    }

    .nav__list{
        flex-direction: row;
        justify-content: center;
    }

    .nav__list--hide{
        display:flex;
    }

    .nav__item{
        margin: 0 2em;
    }

    .nav__link{
        color:var(--dark);
    }

    .nav__link--active{
        color:var(--green);
    }

    /* Cambios main */
    .section {
        max-width: 90%;
        margin:  0 auto
    }

    .section__text, .section__title, .section__subtitle {
        width: 80%;
        margin: auto;
    }

    .section__title::after {
        width: 15%;
    }

    .section__input{
        font-size: 110%;
    }

    .section__input{
        font-size: 110%;
    }

    /* Cambios footer */
    .footer__listgroup {
        flex-direction:row;       
    }
    
    .form {
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        max-width: 100%;
    }

    .form__textarea {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .form__button {
        width: 70%;
        margin: 0;
    }

}


/* Desktop 1200px */

@media screen and (min-width: 1200px){

    /* Cambios generales */
    .button{
        max-width: 50%;
    }

    /* Cambios main */
    .section {
        max-width: 1200px;
    }

    .section__text, .section__title, .section__subtitle {
        width: 60%;
    }

    .section--2col {
        padding: 4em 0;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .section__title--responsiveleft {
        text-align:left;
    }

    .section__title--responsiveleft::after{
        margin: 0;
        width: 2em;
    }

    .section__text--responsiveleft {
        text-align:left;
    }

    
    .section__input{
        font-size: 120%;
    }

    /* Cambios footer */
    .footer__year {
        padding-bottom: 3em;
       }
    
    /* Cambios form */
    .form {
        max-width: 80%;
    }
    
    .form__button {
        max-width: 50%
    }

}
