@charset "UTF-8";
:root,
[data-bs-theme=light] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text: #0a58ca;
  --bs-secondary-text: #6c757d;
  --bs-success-text: #146c43;
  --bs-info-text: #087990;
  --bs-warning-text: #997404;
  --bs-danger-text: #b02a37;
  --bs-light-text: #6c757d;
  --bs-dark-text: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #f8f9fa;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #e9ecef;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(var(--bs-body-color-rgb), 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(var(--bs-body-color-rgb), 0.075);
  --bs-emphasis-color: #000;
  --bs-form-control-bg: var(--bs-body-bg);
  --bs-form-control-disabled-bg: var(--bs-secondary-bg);
  --bs-highlight-bg: #fff3cd;
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}

[data-bs-theme=dark] {
  --bs-body-color: #adb5bd;
  --bs-body-color-rgb: 173, 181, 189;
  --bs-body-bg: #212529;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #f8f9fa;
  --bs-emphasis-color-rgb: 248, 249, 250;
  --bs-secondary-color: rgba(173, 181, 189, 0.75);
  --bs-secondary-color-rgb: 173, 181, 189;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(173, 181, 189, 0.5);
  --bs-tertiary-color-rgb: 173, 181, 189;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-emphasis-color: #fff;
  --bs-primary-text: #6ea8fe;
  --bs-secondary-text: #dee2e6;
  --bs-success-text: #75b798;
  --bs-info-text: #6edff6;
  --bs-warning-text: #ffda6a;
  --bs-danger-text: #ea868f;
  --bs-light-text: #f8f9fa;
  --bs-dark-text: #dee2e6;
  --bs-primary-bg-subtle: #031633;
  --bs-secondary-bg-subtle: #212529;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #084298;
  --bs-secondary-border-subtle: #495057;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #055160;
  --bs-warning-border-subtle: #664d03;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: #fff;
  --bs-link-color: #6ea8fe;
  --bs-link-hover-color: #9ec5fe;
  --bs-link-color-rgb: 110, 168, 254;
  --bs-link-hover-color-rgb: 158, 197, 254;
  --bs-code-color: #e685b5;
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
}

/* Generales */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --green: rgb(0, 173, 145);
  --dark: #3f3f3f;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

input, textarea, button {
  all: unset;
}

img {
  max-width: 100%;
}

/* Elementos */
.button {
  display: block;
  margin: 1em auto;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid var(--green);
  font-size: 120%;
  font-weight: 600;
  letter-spacing: 1px;
  width: 70%;
}

.button--primary {
  color: var(--green);
  border: 2px solid var(--green);
}

.button--secondary {
  background: var(--green);
  border: 2px solid var(--green);
  color: white;
}

.button--primary:hover {
  background-color: var(--green);
  color: white;
}

.button--secondary:hover {
  background-color: rgba(0, 175, 145, 0.1);
  color: var(--green);
}

.wrapper--green {
  background-color: rgba(0, 175, 145, 0.1);
}

.form__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

/* header */
.header {
  border-bottom: 1px solid var(--green);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__element {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  color: var(--dark);
  font-weight: bold;
  font-size: 15px;
}

.header__logo {
  display: none;
}

.header__icon {
  margin: 0px 15px 0px 0px;
}

/* nav */
.nav__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav__list--hide {
  display: none;
}

.nav__list--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin: 0 1.5em;
  padding: 0.5em;
}

.nav__link {
  color: var(--dark);
}

.nav__link--active {
  color: var(--green);
}

/* Main */
.section {
  padding: 4rem 2rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.section__img {
  padding-bottom: 2em;
  max-width: 500px;
  display: block;
  margin: auto;
}

.section__title, .section__subtitle {
  padding-bottom: 1.5em;
}

.section__title::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 30%;
  padding-top: 1em;
  border-bottom: 5px solid var(--green);
}

.section__subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1em 0;
}

/* Catalogo y Galeria */
.catalogo {
  margin-bottom: 4em;
}

.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

/* Calificación */
.section__input {
  border-bottom: 2px solid var(--green);
  font-size: 90%;
  color: rgba(0, 0, 0, 0.7);
}

.section__result {
  font-size: 120%;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  margin: 1em;
}

.section__numresult {
  font-size: 120%;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 1em;
}

/* Formulario */
.form {
  width: 100%;
  margin: 2em auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.form__input, .form__textarea {
  width: 100%;
  border: 1px #dee2e6 solid;
  padding: 0.75em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.form__button {
  padding: 1em;
  width: 100%;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Footer*/
.footer {
  background-color: #3f3f3f;
  color: white;
  font-weight: 200;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3em;
}

.footer__listgroup {
  background-color: #3f3f3f;
  color: white;
  font-weight: 200;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.footer__year {
  color: var(--green);
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.footer__item {
  background-color: #3f3f3f;
  color: white;
  font-weight: 200;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* Media Queries */
/* Tablet 768px */
@media screen and (min-width: 768px) {
  /* Cambios generales */
  .button {
    max-width: 50%;
  }
  /* Cambios header */
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: none;
  }
  .header__logo {
    display: block;
    margin: 1.5em;
  }
  .header__element {
    display: none;
  }
  /* Cambios nav */
  .nav {
    border-bottom: 1px solid var(--green);
    padding: 15px 0px;
  }
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__list--hide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin: 0 2em;
  }
  .nav__link {
    color: var(--dark);
  }
  .nav__link--active {
    color: var(--green);
  }
  /* Cambios main */
  .section {
    max-width: 90%;
    margin: 0 auto;
  }
  .section__text, .section__title, .section__subtitle {
    width: 80%;
    margin: auto;
  }
  .section__title::after {
    width: 15%;
  }
  .section__input {
    font-size: 110%;
  }
  .section__input {
    font-size: 110%;
  }
  /* Cambios footer */
  .footer__listgroup {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .form {
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    max-width: 100%;
  }
  .form__textarea {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .form__button {
    width: 70%;
    margin: 0;
  }
}
/* Desktop 1200px */
@media screen and (min-width: 1200px) {
  /* Cambios generales */
  .button {
    max-width: 50%;
  }
  /* Cambios main */
  .section {
    max-width: 1200px;
  }
  .section__text, .section__title, .section__subtitle {
    width: 60%;
  }
  .section--2col {
    padding: 4em 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .section__title--responsiveleft {
    text-align: left;
  }
  .section__title--responsiveleft::after {
    margin: 0;
    width: 2em;
  }
  .section__text--responsiveleft {
    text-align: left;
  }
  .section__input {
    font-size: 120%;
  }
  /* Cambios footer */
  .footer__year {
    padding-bottom: 3em;
  }
  /* Cambios form */
  .form {
    max-width: 80%;
  }
  .form__button {
    max-width: 50%;
  }
}/*# sourceMappingURL=estilo.css.map */