// Font-size

$font-title: 1rem;
$font-subtitle: 1.5rem;
$font-L: 120%;
$font-M: 110%;
$font-S: 100%;
$font-xS: 90%;



// Font-weight    

$wfont-bold: 700;
$wfont-medium: 600;
$wfont-light: 400;
$wfont-thin: 300;


