.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}


@media screen and (min-width: 1200px){
    .section--2col{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}