@use '../abstracts/mixins';
@use '../abstracts/variables';
@use '../abstracts/colors';

//Header Nesting

.header {
    display: flex;
    height: 3.2em;
    width: 100%;
    justify-content: space-between;
    @include mixins.border-bottom;
    position: fixed;
    z-index: 400;
    background-color: colors.$white;

    &__nav {
        position: absolute;
        height: 9em;
        bottom: -288%;
        width: 100%;
    }

    &__element {
        display: flex;
        align-items: center;
        gap: 0.5em;
        padding-left: 1em;
    }

    &__title {
        color: colors.$dark;
        font-weight: variables.$wfont-bold;
        font-size: variables.$font-title;
    }

    &__list {
        display: flex;
        height: 100%;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: colors.$white;
    }

    &__logo {
        display: none;
    }
    
    &__menuHambur {
        padding-right: 1em;
    }
    &__item{
        margin: 0 1.5em;
        padding: 0.5em;
    }
    &__link{
        color: colors.$dark;
        &--active, &:hover{
            color: colors.$green;
            cursor: pointer;
        }
    }
    
    &__list--hide {
        display: none;
    }
    
    &list--show {
        display: flex;
    }
}


/* Media Queries */
    
    /* Tablet 768px*/

    @media screen and (min-width: 768px) {
        .header {
            position: static;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // border-bottom: none;
        height: 12em;
        &__logo {
        display: block;
        height: 6em;
        margin: 1.5em;
        }
        &__element {
        display: none;
        }

        &__nav {
        position: static;
        }

        &__fix {
        position: fixed;
        top: 0;
        z-index: 500;
        width: 100%;
        height: 5em;
        @include mixins.border-bottom(1px);
        }

        &__menuHambur {
        display: none;
        }

        &__list {
        flex-direction: row;
        }

        &__list--hide {
        display: flex;
        }
    }
    }

