//Importa  mixins, variables y colores de abstract

@use '../abstracts/mixins';
@use '../abstracts/variables';
@use '../abstracts/colors';

//Nav Nesting

.nav{
    height: 3em;
    background-color: colors.$white;
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;  
        background-color: colors.$white;
        &--hide{
            display: none;
        }
        &--show{
            display: flex;
            background-color: colors.$white;
            position: fixed;
            z-index: 999;
            width: 100%;
            transform: translateY(60px);;
        }
    }
    &__item{
        margin: 0 1.5em;
        padding: 0.5em;
    }
    &__link{
        color: colors.$dark;
        &--active, &:hover{
            color: colors.$green;
            cursor: pointer;
        }
        
    }
}

/* Media Queries */

/* Tablet 768px*/

@media screen and (min-width: 768px){
    .nav{
        height: 3.5em;
        @include mixins.border-bottom;
        padding: 15px 0px;
        top: 10em;
        width: 100%;
        z-index: 900;
        &__list{
            flex-direction: row;
            justify-content: center;
            &--hide{
                display: flex;
                background-color: colors.$white;
                top: 7em;
            }
        }
        &__item{
            margin: 0 2em;
        }
        &__link{
            color: colors.$dark;
            &--active,&:hover{
                color: colors.$green;
            }
        }
    }
}
